.container {
    width: 90%;
    margin: 0 auto;
}

.banner {
    background-image: url(https://image.freepik.com/free-photo/asian-pretty-girl-holding-shopping-bags-while-hold-credit-cards-sunglasses-shopping-concept_35721-170.jpg);
    background-size: cover;
    height: 100vh;
}

.banner-caption {
    color: #fff;
    /* text-align: right; */
    padding: 50px;
    font-size: 100px;
    margin: 0;
}

section {
    display: flex;
    justify-content: space-between;
    padding: 50px 0px;
    width: 100%;
}

.side-nav {
    padding: 20px;
    margin: 20px;
    width: 20%;
    background-color: beige;
}

li {
    padding: 10px;
}

h3:hover {
    font-size: 19px;
    color: brown;
}

.product-container {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
}

ul {
    list-style: none;
}

