.container {
    width: 90%;
    margin: 0 auto;
}

.banner {
    background-image: url(/public/banner.jpg);
    background-size: contain;
    height: 60vh;
    margin-top: 80px;
}

.banner-caption {
    color: #fff;
    /* background-color: rgb(128, 6, 6); */
    background: radial-gradient(#c97070, rgb(128, 6, 6));
    width: 50%;
    padding: 50px;
    padding-bottom: 141px;
    font-size: 90px;
    margin: 0;
}

button {
    padding: 5px;
    background-color: #fff;
    color: #000;
}

section {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.side-nav {
    padding: 20px;
    width: 20%;
    background-color: beige;
}

li {
    padding: 10px;
}

h3{
    border: 1px solid #fff;
    text-align: center;
    background-color: #fff;
    padding: 5px;
}

h3:hover {
    font-size: 19px;
    color: brown;
}

.product-container {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
}

ul {
    list-style: none;
}

