h1 {
  color: #7c795d;
  font-family: "Trocchi", serif;
  font-size: 45px;
  font-weight: normal;
  line-height: 48px;
}
#sign-up {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #f6f6d9;
}
#sign-up-image {
  height: 100vh;
  width: 60%;
  background: url("/public/signUpImage.jpg") center no-repeat;
  background-size: cover;
}
#sign-up-content {
  width: 351px;
  margin: auto auto;
}
input {
  border: 0px;
  display: block;
  margin-bottom: 25px;
  border-bottom: solid grey 2px;
  width: 100%;
}
input[type="text"],
[type="email"],
[type="password"] {
  outline: none;
  margin-top: 7px;
  padding-top: 7px;
  padding-bottom: 6px;
}
label {
  letter-spacing: 1.5px;
  font-size: 17px;
}
label:focus-within {
  font-weight: bold;
  color: #7c795d;
  letter-spacing: 1.5px;
  font-size: 17px;
}
a {
  position: relative;
  display: inline-block;
  padding: 10px 40px;
  margin: 20px 0px;
  color: grey;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 4px;
  overflow: hidden;
}
a:hover {
  background: grey;
  color: #fff;
  box-shadow: 0 0 5px grey, 0 0 5px grey, 0 0 5px grey, 0 0 5px grey;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}
a:nth-child(1) {
  filter: hue-rotate(270deg);
}
a:nth-child(2) {
  filter: hue-rotate(110deg);
}
a span {
  position: absolute;
  display: block;
}
a span:nth-child(1) {
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, grey);
  animation: animate1 1s linear infinite;
}
@keyframes animate1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}
a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, grey);
  animation: animate2 1s linear infinite;
  animation-delay: 0.25s;
}
@keyframes animate2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}
a span:nth-child(3) {
  bottom: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, grey);
  animation: animate3 1s linear infinite;
  animation-delay: 0.5s;
}
@keyframes animate3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}

a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, grey);
  animation: animate4 1s linear infinite;
  animation-delay: 0.75s;
}
@keyframes animate4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}
#button-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
