h1 {
  color: #7c795d;
  font-family: "Trocchi", serif;
  font-size: 45px;
  font-weight: normal;
  line-height: 48px;
}
#sign-in {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #f6f6d9;
}
#sign-in-image {
  height: 100vh;
  width: 60%;
  background: url("/public/signUpImage.jpg") center no-repeat;
  background-size: cover;
}
#sign-in-content {
  width: 40%;
  margin: auto auto;
}
form {
  width: 56%;
  margin: auto auto;
}
form,
form label {
  display: flex;
  flex-direction: column;
}
form label {
  margin-bottom: 25px;
  letter-spacing: 1.5px;
}
label:focus-within {
  font-weight: bold;
  color: #7c795d;
  letter-spacing: 1.5px;
  font-size: 17px;
}
form input {
  padding: 4px;
  margin-top: 10px;
  border: 0px;
  display: block;
  margin-bottom: 8px;
  border-bottom: solid grey 2px;
}
form input:focus {
  outline: none;

}

button {
  padding: 3px 4px;
  width: 40%;
}
.card-container {
  height: 300px;
  border-radius: 12px;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  margin: 2rem 2rem;
  display: flex;
  flex-direction: column;
  min-width: 200px;
  width: 100%;
  cursor: pointer;
}

#sign-in-anchor {
  position: relative;
  display: inline-block;
  padding: 10px 40px;
  /* margin: 20px 0; */
  color: grey;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 4px;
  overflow: hidden;
  margin-right: 50px;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-left: 60px;
}
#sign-in-anchor:hover {
  background: grey;
  color: #050801;
  box-shadow: 0 0 5px grey, 0 0 5px grey, 0 0 5px grey, 0 0 5px grey;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}
#sign-in-anchor:nth-child(1) {
  filter: hue-rotate(270deg);
}
#sign-in-anchor:nth-child(2) {
  filter: hue-rotate(110deg);
}
#sign-in-anchor span {
  position: absolute;
  display: block;
}
#sign-in-anchor span:nth-child(1) {
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, grey);
  animation: animate1 1s linear infinite;
}
@keyframes animate1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}
#sign-in-anchor span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, grey);
  animation: animate2 1s linear infinite;
  animation-delay: 0.25s;
}
@keyframes animate2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}
#sign-in-anchor span:nth-child(3) {
  bottom: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, grey);
  animation: animate3 1s linear infinite;
  animation-delay: 0.5s;
}
@keyframes animate3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}

#sign-in-anchor span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, grey);
  animation: animate4 1s linear infinite;
  animation-delay: 0.75s;
}
@keyframes animate4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}
form p {
  margin: 0 auto;
}
a:link{
  text-decoration: none;
}